@mixin font($font-name, $file-name, $weight, $style, $full: 'min') {
  @font-face {
    font-display: swap;
    font-family: $font-name;
    font-style: #{$style};
    font-weight: #{$weight};
    @if $full == max {
      src: url('/src/assets/fonts/#{$file-name}.eot') format('embedded-opentype');
      src: url('/src/assets/fonts/#{$file-name}.eot?#iefix') format('embedded-opentype'),
           url('/src/assets/fonts/#{$file-name}.ttf') format('truetype'),
           url('/src/assets/fonts/#{$file-name}.woff') format('woff'),
           url('/src/assets/fonts/#{$file-name}.woff2') format('woff2'),
           url('/src/assets/fonts/#{$file-name}.svg?#{$file-name}') format('svg');
    }
    @if $full == min {
      src: url('/src/assets/fonts/#{$file-name}.woff') format('woff'),
      url('/src/assets/fonts/#{$file-name}.woff2') format('woff2');
    }
  }
}
