/*!******************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/group-css-media-queries-loader/lib/index.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/scss/style.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/c329bed0cb59ed1f8884.woff) format("woff"), url(../fonts/464e4eb649cc2d15d413.woff2) format("woff2"); }

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/5d3841e2a6d1d6494dc6.woff) format("woff"), url(../fonts/48486aac860fcb14ad01.woff2) format("woff2"); }

/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/group-css-media-queries-loader/lib/index.js!./node_modules/sass-loader/dist/cjs.js!./src/desktop/block3/block3.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
.block3 {
  color: brown;
  font-size: 24px;
  text-align: center; }

/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/group-css-media-queries-loader/lib/index.js!./node_modules/sass-loader/dist/cjs.js!./src/desktop/block4/block4.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
.block4 {
  color: blue;
  font-size: 24px;
  text-align: center; }

