doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Учимся работать с шаблонизатором Pug"
  body
    .block Hello, World1
    .block2 Hello, World1
    a(href="color.html") colorlink
    img(src=require("/src/assets/img/1.jpg"))

